* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.topright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.show {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.show > * {
    padding: 0 10px;
    padding-top: 15px;
}

.more {
    display: flex;
    flex-direction: column;
}

.more>img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    opacity: 0.7;
}

.more>img:hover {
    cursor: pointer;
}

.show>a {
    color:rgba(0,0,0,0.87);
    text-decoration: none;
}

.show>a:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0.87);
}

img {
    width: 50px;
    height: 50px;
}

.garbagediv {
    display: none;
}

.more:hover .garbagediv{
    display: block;
}

.hiddenapps {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    box-shadow: 1px 1px 10px grey;
    position: absolute;
    top: 40px;
    right: 24px;
}

.hiddenapps ul {
    list-style-type: none;
}

.hiddenapps a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    color: rgba(0,0,0,0.87);
    padding: 10px;
}

.hiddenapps a:hover {
    background-color: rgba(135,206,235,0.5);
}

.first-row {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.first-row ul{
    display: flex;
    flex-direction: row;
}

.second-row {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.second-row ul{
    display: flex;
    flex-direction: row;
}

.hiddenapps li {
    text-decoration: none;
    margin:10px;
}

.hiddenapps li:hover {
    cursor: pointer;
}

.mid {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 110px;
    letter-spacing: -15px;
    cursor: pointer;
}

h1 a {
    text-decoration: none;
}

input {
    width: 582px;
    color: #222;
    border: 1px solid #ccd0d8;
    font-size: 15px;
    padding: 14px;
    border-radius: 24px;
}

input:hover {
    box-shadow: 1px 1px 3px grey;
}

input:focus{
    outline: none;
    box-shadow: 1px 1px 3px grey;
}

button {
    padding: 7px 14px;
    font-size: 15px;
    margin: 20px;
    border-radius: 0;
    border-color: transparent;
}

button:hover {
    cursor: pointer;
    border-color: rgba(0,0,0,0.3);
}
